@{
    ViewData["Title"] = "Home";
}

@section Scripts {
    <script src="~/js/_home.js"></script>
}

<div>
    <h1>Hello AR.js</h1>
    <h2>You are on page: @ViewData["Title"] </h2>
</div>

<div>
    <a href="#">
        <img class="car-img" src="~/images/BLAUES_AUTO.jpg" />
    </a>
    <br />
    <button>Lade gelben Bagger</button>
</div>

<div>
    <a href="#">
        <img class="car-img" src="~/images/GELBER_BAGGER.jpg" />
    </a>
    <br />
    <button>Lade blaues Auto</button>
</div>

<div>
    <a href="#">
        <img class="car-img" src="~/images/ROTES_AUTO.jpg" />
    </a>
    <br />
    <button>Lade rotes Auto</button>
</div>

