/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 20px;
}

a {
    text-decoration:none;
}

.car-img {
    width: 650px;
}